

body {
	background-color: aliceblue;

	
	margin: 0px;
	font-family: "Montserrat", "Avenir";

}

.wrapper{
	background-color: aliceblue;
	width: 50%;
	height: 50%;
	margin: 0px auto;
	padding: 40px;

	


}


h1 {
	text-align: center;
	line-height: 1.9;
	font-weight: normal;
	color: white;
	background: darkgray;
	margin: 0;
	text-transform: uppercase;
	padding: 20px 0;
}

#colorDisplay {
	font-size: 100%;
}

#message {
	display: inline-block;
	width: 20%;
}

#stripe {
	background: white;
	height: 30px;
	text-align: center;
	color: black;

}

.selected {
	color: white;
	background: darkgray;

}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: darkgray;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

button:hover {
	color: white;
	background: steelblue;
}

.row{
	text-align: center;


}

.card{
	display: inline-block;
	width: 100px;
	height: 100px;
	background-color: #eee;
	cursor: pointer;

}

.card:hover {
	border:  1px solid black;
	

}

.red{
	background-color: red;
}

.green{
	background-color: green;
}

.yellow{
	background-color: yellow;
}

.black{
	background-color: black;
}



.pink{
	background-color: pink;
}


.blue{
	background-color: blue;
}



.hide {
	background-color: gray;
}

.not-click {
	pointer-events: none;
}