* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background: whitesmoke;
}

.memory-game {
	width: 640px;
	height: 640px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	perspective: 1000px;
	padding-top: 30px;
}


button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: darkgray;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

button:hover {
	color: white;
	background: steelblue;
}

#stripe {
	background: white;
	height: 30px;
	text-align: center;
	color: black;

}

#restart{

	margin-left: 10%;
}

h1 {
	text-align: center;
	line-height: 1.9;
	font-weight: normal;
	color: white;
	background: darkgray;
	margin: 0;
	text-transform: uppercase;
	padding: 30px 0;
}

#message {
	display: inline-block;
	width: 20%;
}

.memory-card {
	width: calc(25% - 10px);
	height: calc(33.333% - 10px);
	margin: 5px;
	position: relative;
	transform: scale(1);
	transform-style: preserve-3d;
	transition: transform .5s;
}

.colors,
.cover {
	width: 100%;
	height: 100%;
	padding: 0px;
	position: absolute;
	border-radius: 5px;
	backface-visibility: hidden;
}

.colors {
	transform: rotateY(180deg);
}

.memory-card:active {
	transform: scale(0.97);
	transition: transform .2s;
}

.memory-card.flip {
	transform: rotateY(180deg);
}